<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
    <ion-title>О проекте</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="wrapper">
    <p class="indent">
      Brest Stories Guide - проект театра “Крылы халопа” об антисемитизме и уничтожении брестской еврейской общины в 1941-1942 годах. Документальный аудиоспектакль – экскурсия  основан на материалах архивов, книг, фото, интервью со свидетелями событий.
    </p>
    <p class="indent">
      Приложение представляет собой карту с сохранившимися объектами еврейского наследия и ключевыми местами, связанными с Брестским гетто и его уничтожением. Пользователь имеет возможность прослушать аудиоспектакль, “погрузиться”  в историю, двигаясь по предлагаемому маршруту.
    </p>
    <p>
      Вся информация о проекте  <a href="http://www.breststories.com">Brest Stories Guide</a>
    </p>
    <p>
      Информация о <a href="http://www.teatrkh.com">театре “Крылы халопа”</a>
    </p>
    <p>
      Историческая справка: <br>
      Перед началом войны в Бресте проживало около 24&nbsp;000&nbsp;евреев (около 45% населения города). В июле 1941 года было уничтожено около 4000 евреев. В декабре 1942 г. было основано Брестское гетто. С 15 по 18 октября 1942 г. жители гетто были вывезены в район железнодорожной станции Бронная гора (около 100 км северо-восточнее Бреста) и расстреляны.
    </p>

    <div class="sponsors">
      <img src="/assets/img/3_logo_choice.png">
      <img src="/assets/img/4_logo_eu.png">
      <img src="/assets/img/1_logo_teatra.jpg">
    </div>
  </div>

</ion-content>

