<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--<ion-buttons slot="start">-->
      <!--<ion-menu-button color="danger"></ion-menu-button>-->
    <!--</ion-buttons>-->
    <!--<ion-title>{{ route.properties.name }}</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content>-->
  <!--<app-map *ngIf="geoDataForCommonMap && route"  [geodata]="geoDataForCommonMap"></app-map>-->
<!--</ion-content>-->


<!--<lib-ionic-pullup [(state)]="footerState"  class="pull-up" [toolbarTopMargin]="600">-->
  <!--<ion-toolbar (click)="toggleFooter()" class="pull-up__toolbar">-->
    <!--<ion-title>{{}}</ion-title>-->
  <!--</ion-toolbar>-->
  <!--<ion-content>-->
    <!--<ion-list>-->
    <!--</ion-list>-->
  <!--</ion-content>-->
<!--</lib-ionic-pullup>-->
