<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
    <ion-title>Инструкции</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="wrapper">
    <h4>Как использовать приложение и как прослушать спектакль </h4>

    <p>
      Спектакль Brest Stories Guide разделен на несколько маршрутов, которые проложены на карте один за другим. Вы можете прослушать спектакль как частями, так и полностью. Все пять маршрутов длятся при прослушивании около 3,5 часов.
    </p>
    <p>
      На карте отмечены объекты еврейского наследия, а также связанные с гетто и уничтожением брестской еврейской общины. Аудиозапись не имеет строгой привязки к объектам. Мы предлагаем наиболее оптимальный маршрут, исходя из драматургии и близости к объектам, фигурирующим в спектакле. Аудиозапись по времени совпадает с проходом маршрута, если следовать со средней скоростью пешехода.
    </p>
    <p>
      Вы можете как следовать нашему маршруту, так и прокладывать свой или оставаться на месте, слушая аудиоспектакль.
    </p>

    <ol>
      <li>
        Вам необходимо дополнительно скачать аудиоспектакль. Для этого нажмите ВЫБОР МАРШРУТА. Нажмите кнопку СКАЧАТЬ АУДИО под каждым маршрутом. Если загрузка успешна, кнопка поменяет название на УДАЛИТЬ АУДИО.
      </li>
      <li>
        Для прослушивания спектакля нажмите кнопку НАЧАТЬ. Все треки будут воспроизводиться автоматически один за другим.
      </li>
      <li>
        Приложение перенаправит вас на карту города с обозначенной начальной точкой маршрута. Нажмите кнопку ВОСПРОИЗВЕДЕНИЕ. Чтобы увидеть список треков, потяните нижнее белое поле с названием трека вверх.
      </li>
      <li>
        Если вы двигаетесь по предложенному маршруту, приложение будет показывать ваше местонахождение на карте, при этом кнопка ЛОКАЦИИ в правом нижнем углу не должна быть перечеркнута.
      </li>
    </ol>
  </div>
</ion-content>
