.map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.marker {
  background-image: url('/assets/icon/pointer.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}


.wrapper {
  .image {
    width: 50px;
    height: 50px;
  }
  .show-more {
    cursor: pointer;
  }
}
